
.front{
    background-image: url('../../assets/bg.png'); 
    height: 50rem;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-around;
}