.content{
    padding: 6rem 15rem 5rem 15rem;

background-color: #f8fdff;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.expl{
    color: gray;
}

.card:hover{
    transform: translateY(-9px);
}
