 .container {
  /* background-color: #fdfcf9; */
  background-color: #eef4ff;
  width:100%;
  display: flex;
  justify-content: center;
  height: 12rem;
}
/* .hero{
  width: 80%;
  background-color: black
} */
.form {
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
  height: 10rem;
  margin: auto;
}
.form .box {
  width: 20%;
  border-left: 1px solid rgba(53, 46, 46, 0.2);
  height: 100%;
  display: flex;
}
.box-inside{
  width: 80%;
  margin: auto;

}
.datepicker .box-inside{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datepicker .box-inside{
  height: 100%;
}
.form .box:nth-child(1) {
  border-left: none;
}
.form .btn{
  border-radius: 1rem;
  /* padding: -2rem -2rem; */
  background-color:  rgb(237, 158, 74) ;
  height: 3.8rem;
  width: 7rem;
  border: none;
  color: rgb(10, 10, 10);
  cursor: pointer; 
  
}
.box-btn{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  height: 70%;
}
@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
  }
  .form .box {
    border-left: none;
  }
  .form input {
    width: 100%;
  }
}