.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 100;
}

ul {
    list-style-type: none;
}

.logo {
    margin-left: 50px;
}

.nav {
    margin-left: -40px;
}

.buttons {
    margin-right: 100px;
}

.btn1 {
    border-radius: 5px;
    padding: 13px 30px;
    /* background-color: white; */
    background: none;
    border: 2px solid rgb(165, 193, 238);
    color: rgb(129, 156, 224);
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.btn2 {
    border-radius: 5px;
    padding: 13px 30px;
    background: none;
    border: 2px solid rgb(165, 193, 238);
    color: rgb(150, 188, 241);
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

button i {
    margin-right: 5px;
}

header {
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 12px 0;
    position:relative;
    top: 0;
    z-index: 999;
}

header a {
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 500;
}
